version: "3.8"

services:
  api:
    build: .
    depends_on:
      - postgres
    ports:
      - 8000:8000
    volumes:
      - ./:/usr/src/app:ro

    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    # env_file:
    #   - ./.env
    environment:
      - DATABASE_HOSTNAME=postgres
      - DATABASE_PORT=5432
      - DATABASE_PASSWORD=password123
      - DATABASE_NAME=fastapi
      - DATABASE_USERNAME=postgres
      - SECRET_KEY=e405fdc9564a1a5e0443fcbcbd3b26946458a26c3ec20e64ccf1f9ca1a13a253
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=30


  postgres:
    image: postgres:16
    environment:
      - POSTGRES_PASSWORD=password123
      - POSTGRES_DB=fastapi

    volumes:
      - postgres-db:/var/lib/postgresql/data
volumes:
  postgres-db:
